<div>
	<a ui-sref="settings" class="pull-right btn btn-primary btn-outline btn-rounded">返回设置</a>
	<h2>铜蛇 </h2>
	<div class="jumbotron">
		<div class="container">
            <h3>关于本工具</h3>
            <div>
                本工具是基于Shadowsocks-go版的封装。目标是轻量化实现好的Shadowsocks UI。
                <h4>支持的加密协议:</h4>
                <ol>
					<li>aes-128-cfb</li>
					<li>aes-192-cfb</li>
					<li>aes-256-cfb</li>
					<li>des-cfb  </li>
					<li>bf-cfb    </li>
					<li>cast5-cfb </li>
					<li>rc4-md5   </li>
					<li>chacha20  </li>
					<li>salsa20   </li>
                </ol>
                <h4>带一次性验证的加密协议:</h4>
                <ol>
					<li>aes-128-cfb-auth</li>
					<li>aes-192-cfb-auth</li>
					<li>aes-256-cfb-auth</li>
					<li>des-cfb-auth    </li>
					<li>bf-cfb-auth     </li>
					<li>cast5-cfb-auth  </li>
					<li>rc4-md5-auth    </li>
					<li>chacha20-auth   </li>
					<li>salsa20-auth    </li>
                </ol>
            <h3>关于KCP的支持</h3>
            <div >
            <div>linux4.6内核中加入tcp的更优特性的架构(KCM)，可以更好的提升速度，所以铜蛇不会支持kcp</div>
            <div ><a href="https://kernelnewbies.org/Linux_4.6#head-d86a7a8affd7cefef85fff400e39403718bf647a">查看</a>
            <br />
            </div>
 
            <h3>关于名字</h3>
            <div>铜蛇一词源于《圣经》旧约出埃及记，上帝为救赎以色列人吩咐摩西做此物，凡仰望此蛇的便可得医治，与《圣经》新约中耶稣被钉十架呼应。</div>
            <br />
            <div>『摩西在旷野怎样举蛇，人子也必照样被举起来，叫一切信他的都得永生』</div>
            <div class="text-right">—— 約翰福音 3:14-15</div>
            <br />
			<p>
				<a target="_blank" href="http://christ.org.tw/faith/christian_faith.htm" class="btn btn-primary btn-lg btn-outline btn-rounded">查看更多</a>
			</p>
		</div>
	</div>
</div>
